---
layout: base.njk
title: rendez-vous in the kitchen
---

{% include "header.njk" %}

<div class="py-12 px-6 md:max-w-[700px] md:mx-auto">
  <h1 class="max-w-[320px] my-8">Rendez-vous in the kitchen</h1>

  <h2>Nos dernières recettes</h2>

  <div class="mt-8">
    {% include "liste-recettes.njk" %}
  </div>
</div>

