---
layout: base.njk
title: rendez-vous in the kitchen
---

{% include "header.njk" %}

<div class="absolute z-20 top-[25px] right-[17px]">
  <button class="hamburger hamburger--squeeze" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>

<h1 class="max-w-[320px] mt-8">Rendez-vous in the kitchen</h1>

