---
layout: base.njk
---

{% include "header.njk" %}

<div class="pt-32 pb-12 px-6 md:max-w-[700px] md:mx-auto">

  <h2>Nos recettes</h2>

  <div class="mt-8">
    {% include "liste-recettes.njk" %}
  </div>
</div>