<div class="menu absolute top-0 left-0 w-full h-full overflow-hidden z-10 bg-stone-200 shadow-xl">
  <nav class="mt-24">
    <li class="menu--item group">
      <a href="/" class="menu--link delay-150">Accueil</a>
      <div class="menu--activeline group-hover:block"></div>
    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link delay-200">Recettes</a>
      <div class="menu--activeline group-hover:block"></div>

    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link delay-300">Nous</a>
      <div class="menu--activeline group-hover:block"></div>

    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link delay-[400ms]">Contact</a>
      <div class="menu--activeline group-hover:block"></div>

    </li>
  </nav>
</div>