<div class="menu absolute top-0 left-0 w-full h-full overflow-hidden z-10 bg-stone-100 shadow-xl">
  <nav class="mt-24">
    <li class="menu--item group {% if page.url == '/'%}text-stone-800 uppercase{% endif %}">
      <a href="/" class="menu--link block">
        <span class="menu--text inline-block delay-150">Accueil</span>
      </a>
      <div class="menu--activeline group-hover:opacity-100"></div>
    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link block">
        <span class="menu--text inline-block delay-200">Recettes</span>
      </a>
      <div class="menu--activeline group-hover:opacity-100"></div>
    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link block">
        <span class="menu--text inline-block delay-300">Nous</span>
      </a>
      <div class="menu--activeline group-hover:opacity-100"></div>

    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link block">
        <span class="menu--text inline-block delay-[400ms]">Contact</span>
      </a>
      <div class="menu--activeline group-hover:opacity-100"></div>

    </li>
  </nav>
</div>

<div class="absolute z-20 top-[25px] right-[17px]">
  <button class="hamburger hamburger--squeeze" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>