<div class="menu absolute transition opacity-0 top-0 left-0 w-full h-0 overflow-hidden z-10 bg-gray-200">
  <nav class="mt-24">
    <li class="menu--item group">
      <a href="/" class="menu--link">Accueil</a>
      <div class="menu--activeline group-hover:block"></div>
    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link">Recettes</a>
      <div class="menu--activeline group-hover:block"></div>

    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link">Nous</a>
      <div class="menu--activeline group-hover:block"></div>

    </li>
    <li class="menu--item group">
      <a href="/" class="menu--link">Contact</a>
      <div class="menu--activeline group-hover:block"></div>

    </li>
  </nav>
</div>