---
layout: base.njk
---

{% include "header.njk" %}
<div class="recette mb-16 md:max-w-[700px] mx-auto">
  <div class="relative mt-[5.5rem] md:mt-32">
    <img src="{{image}}" class="max-h-48 md:max-h-96 w-full object-cover" alt="">
  </div>
  <div class="pb-12 overflow-hidden">
    <div class="px-6">
      <h1 class="pr-12 mt-8 mb-2 leading-tight">{{title}}</h1>
      <div class="opacity-50 text-base mb-8 tracking-widest">
        publié le {{page.date.toLocaleDateString()}}
      </div>
      {% include "components/separator.njk" %}
      <div class="my-8">
        {{description | safe}}
      </div>
    </div>
    <div class="flex">
      <div class="recette--tab is-active js-ingredients-tab">ingrédients</div>
      <div class="recette--tab js-preparation-tab">préparation</div>
    </div>
    <div class="js-ingredients is-active">
      <ul class="mt-8 mx-6">
        {%- for ingredient in ingredients -%}
        <li>
          - {{ingredient | safe}}
        </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="js-preparation px-6">
      {{content | safe}}
    </div>
  </div>
  {%- if related_links.length > 0 -%}
  <div class="mx-6">
    <h3 class="mb-6 underline">Que faire avec les restes ?</h3>
    <div class="grid grid-cols-2 gap-4">
      {%- for recette in collections.recette -%}
        {%- for link in related_links -%}
          {%- if link == recette.url -%}
            <div>
              <img src="{{recette.data.image}}" alt="" class="max-h-32 w-full object-cover mb-4">
              <a href="{{recette.url}}">{{recette.data.title}}</a>
            </div>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
</div>
