@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-stone-100 text-stone-900 font-mono;
  }
  @font-face {
    font-family: "cantata_oneregular";
    src: url("assets/fonts/cantataone-regular-webfont.woff2") format("woff2"),
      url("assets/fonts/cantataone-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "necto_monoregular";
    src: url("assets/fonts/nectomono-regular-webfont.woff2") format("woff2"),
      url("assets/fonts/nectomono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  h1 {
    @apply font-serif;
    @apply lowercase;
    @apply text-4xl leading-normal tracking-wide;
  }

  h2 {
    @apply text-xl leading-normal tracking-wide underline underline-offset-4 text-stone-800;
  }

  .menu--item {
    @apply relative text-stone-500 list-none font-serif text-4xl leading-normal tracking-wide lowercase;
  }
  
  .menu--link {
    @apply inline-block z-20 relative;
  }
  .menu--text {
    @apply transition-transform duration-300 ease-menu -translate-x-full bg-stone-100 px-8;
  }

  .is-active .menu--text {
    @apply transition-transform duration-300 ease-menu translate-x-0;
  }

  .menu--activeline {
    @apply absolute
      inset-y-1/2 right-0
      mr-6
      w-full
      h-px
      opacity-0
      bg-stone-900
      transition-opacity;
  }
  .menu {
    @apply -translate-x-full transition-transform duration-300 ease-menu;
  }
  .menu.is-active {
    @apply translate-x-0 transition-transform duration-300 ease-menu;
  }

}

@layer components {
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger--squeeze {
    .hamburger-inner {
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
      }

      &::after {
        transition: bottom 0.075s 0.12s ease,
          transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }

        &::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease,
            transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease,
      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
